// https://flatuicolors.com/palette/se

$pink-1: #ef5777;
$pink-2: #f53b57;
$orange-1: #ffc048;
$orange-2: #ffa801;
$d-blue-1: #575fcf;
$d-blue-2: #3c40c6;
$yellow-1: #ffdd59;
$yellow-2: #ffd32a;
$blue-1: #4bcffa;
$blue-2: #0fbcf9;
$red-1: #ff5e57;
$red-2: #ff3f34;
$turq-1: #34e7e4;
$turq-2: #00d8d6;
$grey-1: #d2dae2;
$grey-2: #808e9b;
$green-1: #1cca59;
$green-2: #159d45;
$dark-1: rgb(72, 84, 96);
$dark-2: rgb(30, 39, 46);
$dark-3: #0F0F0F;
$light-1: rgb(250, 250, 250);
$light-2: rgb(245, 245, 245);

$primary: $green-1;
$primary-2: $green-2;
$secondary: $dark-2;
$text: $light-2;
$text-secondary: $grey-1;
$background: $dark-3;
$error: $pink-1;
$error-2: $pink-2;

$sm-minus: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
