// General
* {
  text-decoration: none;
}
select {
  border: 1px solid $background;
  border-radius: 0;
  padding: 0.3em;
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 0.5%;
  resize: none;
}
select:hover {
  cursor: pointer;
}

body, html {
  margin: 0;
  padding: 0;
}

button {
  background-color: $light-2;
  color: $dark-2;
  &:hover:enabled {
    background-color: $grey-1;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  color: $primary;
  font-weight: 600;
  transition: all 0.1s;
  &:hover {
    font-size: 1.1em;
    cursor: pointer;
  }
}

// Classes
.item {
  margin: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  position: relative;
}
.item-container {
  background-color: $secondary;
  margin: 0.5em 0;
  border-radius: 0.5em;
  position: relative;
  overflow: hidden;
}

.clickable-icon {
  cursor: pointer;
  &:hover {
    color: $grey-2;
  }
}
.right {
  float: right;
}
.container {
  margin-left: auto;
  margin-right: auto;

  flex: 1;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clickable {
  cursor: pointer;
}
.disabled {
  opacity: 0.5;
}
button:disabled {
  opacity: 0.5;
}
.spacing {
  margin: 0.5em;
}
.spacing-right {
  margin-right: 0.25em;
}
.spacing-left {
  margin-left: 0.25em;
}
.spacing-top {
  margin-top: 0.25em;
}
.spacing-bottom {
  margin-bottom: 0.25em;
}
.spacing-x {
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.spacing-y {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.btn {
  border-radius: 1em;
  padding: 0.75em;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  border: none;
  transition: background-color 0.25s ease, color 0.25s ease;
}
.btn:hover:enabled {
  cursor: pointer;
}

.btn-standard {
  border-radius: 0px;
  font-size: 1.1em;
}
.btn-error {
  color: $light-1;
  background-color: $error;
  &:hover:enabled {
    background-color: $error-2;
  }
}

.btn-primary {
  background-color: $primary;
  color: $light-2;
}
.btn-primary:hover:enabled {
  background-color: $primary-2;
}
.btn-secondary {
  background-color: $background;
  color: $light-1;
  border: 2px solid $light-1;
}
.btn-secondary:hover:enabled, a.btn-secondary:hover {
  color: $background;
  background-color: $light-1;
}
.btn-big {
  font-size: 1.5em;
}

.error-text {
  margin: 0.5em 0 1em;
  text-align: center;
  color: $error;
}

// Media queries

@media (min-width: $sm) {
  .container {
    width: 90%;
  }
}
@media (min-width: $md) {
  .container {
    width: 80%;
  }
}
@media (min-width: $lg) {
  .container {
    width: 70%;
  }
}
@media (min-width: $xl) {
  .container {
    width: 60%;
  }
}
